html {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  overflow: hidden;
}

.background {
  background: linear-gradient(#FBE7E7, #F2F8CE);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.sp-navi {
  display: none;
}
// PC
.container {
  width: 100vw;
  height: 100vh;
  font-size: 72px;
  font-weight: 900;
  .pc-navi {
    &__ka_pc {
      position: fixed;
      z-index: 5;
      width: 450px;
      height: 350px;
      background: #9290F4;
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
      transition: all 1s;
      cursor: pointer;
      .pc-navi__ka-text {
        position: absolute;
        width: 360px;
        font-weight: 900;
        line-height: 1.5;
        text-align: center;
        color: #fbfbfb;
        transform: translate(-50%, -50%);
        transition: all 1s;
      }
    }
    &__ka-navi_loading {
      bottom: 50%;
      right: 50%;
      border-radius: 70% 65% 50% 87%/80% 85% 50% 60%;
      transform: translate(50%,50%);
      .pc-navi__ka-text {
        top: 50%;
        left: 50%;
        font-size: 80px;
      }
    }
    &__ka-navi_top {
      bottom: 10px;
      right: 220px;
      border-radius: 90% 45% 50% 43%/92% 0% 50% 60%;
      transform: translate(50%,50%);
      .pc-navi__ka-text {
        top: 36%;
        left: 55%;
        font-size: 80px;
      }
    }
    &__ka-navi_contents {
      bottom: -20px;
      right: 160px;
      border-radius: 90% 45% 50% 43%/92% 0% 50% 60%;
      transform: translate(63%, 57%);
      .pc-navi__ka-text {
        top: 26%;
        left: 45%;
        font-size: 50px;
      }
    }
    &__about_pc {
      position: fixed;
      z-index: 4;
      width: 400px;
      height: 270px;
      background: #C1F0B1;
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
      transition: all 1s;
      cursor: pointer;
      .pc-navi__about-text {
        position: absolute;
        font-weight: 900;
        line-height: 1.5;
        text-align: center;
        color: #fbfbfb;
        transform: translate(-50%, -50%);
        transition: all 1s;
      }
    }
    &__about-navi_loading {
      top: 55%;
      left: 48%;
      border-radius: 70% 31% 50% 49%/70% 70% 72% 70%;
      transform: translate(-50%,-50%);
      .pc-navi__about-text {
        top: 57%;
        left: 48%;
        font-size: 80px;
      }
    }
    &__about-navi_top {
      top: 27%;
      left: 31%;
      border-radius: 70% 31% 50% 49%/70% 70% 72% 70%;
      transform: translate(-50%,-50%);
      .pc-navi__about-text {
        top: 50%;
        left: 50%;
        font-size: 80px;
      }
    }
    &__about-navi_contents {
      top: 0;
      left: 0;
      z-index: 5;
      border-radius: 55% 50% 64% 87%/50% 70% 85% 84%;
      transform: translate(-67%, -59%);
      .pc-navi__about-text {
        top: 70%;
        left: 80%;
        font-size: 20px;
      }
    }
    &__works_pc {
      position: fixed;
      z-index: 3;
      width: 370px;
      height: 410px;
      background: #F4CC90;
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
      transition: all 1s;
      cursor: pointer;
      .pc-navi__works-text {
        position: absolute;
        font-weight: 900;
        line-height: 1.5;
        text-align: center;
        color: #fbfbfb;
        transform: translate(-50%, -50%);
        transition: all 1s;
      }
    }
    &__works-navi_loading {
      top: 46%;
      left: 51%;
      border-radius: 89% 75% 53% 70%/56% 77% 77% 70%;
      transform: translate(-50%,-50%);
      .pc-navi__works-text {
        top: 48%;
        left: 52%;
        font-size: 80px;
      }
    }
    &__works-navi_top {
      top: 38%;
      left: 70%;
      border-radius: 89% 75% 53% 70%/56% 77% 77% 70%;
      transform: translate(-50%, -50%);
      .pc-navi__works-text {
        top: 50%;
        left: 50%;
        font-size: 80px;
      }
    }
    &__works-navi_contents {
      top: -130px;
      left: 110px;
      z-index: 4;
      border-radius: 27% 26% 83% 100%/86% 95% 87% 100%;
      transform: translate(-56%, -47%);
      .pc-navi__works-text {
        top: 87%;
        left: 70%;
        font-size: 20px;
      }
    }
    &__contact_pc {
      position: fixed;
      z-index: 2;
      width: 480px;
      height: 320px;
      background: #F49690;
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
      transition: all 1s;
      cursor: pointer;
      .pc-navi__contact-text {
        position: absolute;
        font-weight: 900;
        line-height: 1.5;
        text-align: center;
        color: #fbfbfb;
        transform: translate(-50%, -50%);
        transition: all 1s;
      }
    }
    &__contact-navi_loading {
      top: 54%;
      left: 51%;
      border-radius: 90% 75% 61% 98%/100% 85% 72% 68%;
      transform: translate(-50%,-50%);
      .pc-navi__contact-text {
        top: 53%;
        left: 51%;
        font-size: 80px;
      }
    }
    &__contact-navi_top {
      top: 75%;
      left: 43%;
      border-radius: 90% 75% 61% 98%/100% 85% 72% 68%;
      transform: translate(-50%, -50%);
      .pc-navi__contact-text {
        top: 50%;
        left: 50%;
        font-size: 80px;
      }
    }
    &__contact-navi_contents {
      top: 40px;
      left: 20px;
      border-radius: 90% 75% 61% 98%/100% 85% 72% 68%;
      transform: translate(-70%, -53%);
      .pc-navi__contact-text {
        top: 82%;
        left: 79%;
        font-size: 20px;
      }
    }
  }
  // CONTENS 共通
  .contents {
    width: 92%;
    max-width: 1000px;
    min-height: 624px;
    position: relative;
    top: 50%;
    left: 50%;
    background-color: rgba(254, 254, 254, 0.3);
    border-radius: 10px;
    padding: 40px 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.1));
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    .contents__link_work {
      pointer-events: none;
    }
    &.is-fadein {
      visibility: visible;
      opacity: 1;
      .contents__link_work {
        pointer-events: auto;
      }
    }
    &__about-section,
    &__works-section,
    &__contact-section {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 92%;
      max-width: 1000px;
      min-height: 624px;
      visibility: hidden;
      opacity: 0;
      transition: .3s;
    }
    &__about-section.is-fadein,
    &__works-section.is-fadein,
    &__contact-section.is-fadein {
      visibility: visible;
      opacity: 1;
    }
    &__heading {
      color: #9290F4;
      font-size: 70px;
      font-weight: 900;
      text-align: center;
      padding: 40px 0;
    }

    // ABOUT
    &__flexbox {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: 0 auto;
      .contents__left-block {
        width: 50%;
        color: #444444;
        .contents__title {
          font-size: 32px;
          font-weight: 700;
          line-height: 1.5;
          padding: 0 0 12px;
        }
        .contents__description {
          font-size: 20px;
          font-weight: 500;
          line-height: 1.5;
        }
      }
      .contents__right-block {
        width: 40%;
        height: 312px;
      }
    }
    //-/ ABOUT
    //-/ CONTENS 共通

    // WORKS
    &__works-section {
      .contents__flexbox {
        justify-content: center;
        .contents__link_work:nth-of-type(2) {
          margin: 0 28px;
        }
      }
    }
      // - WORKS

    // CONTACT
    &__link_mail {
      position: absolute;
      left: 50%;
      font-size: 32px;
      font-weight: 500;
      color: #444444;
      transform: translate(-50%, -50%);
    }
    //-/ CONTACT
  }
}
//-/ PC

// TABLET
@media (max-width: 1080px){
  .container {
    .pc-navi {
      &__ka_pc {
        width: 350px;
        height: 250px;
      }
      &__ka-navi_loading {
        .pc-navi__ka-text {
          font-size: 60px;
        }
      }
      &__ka-navi_top {
        bottom: 0;
        right: 170px;
        .pc-navi__ka-text {
          font-size: 60px;
        }
      }
      &__ka-navi_contents {
        .pc-navi__ka-text {
          left: 50%;
          font-size: 45px;
        }
      }
      &__about_pc {
        width: 300px;
        height: 170px;
        .pc-navi__about-text {
          font-size: 60px;
        }
      }
      &__about-navi_loading {
        .pc-navi__about-text {
          font-size: 60px;
        }
      }
      &__about-navi_contents {
        .pc-navi__about-text {
          font-size: 20px;
        }
      }
      &__works_pc {
        width: 270px;
        height: 310px;
      }
      &__works-navi_loading {
        .pc-navi__works-text {
          font-size: 60px;
        }
      }
      &__works-navi_top {
        top: 48%;
        .pc-navi__works-text {
          font-size: 60px;
        }
      }
      &__works-navi_contents {
        top: -100px;
        left: 90px;
      }
      &__contact_pc {
        width: 380px;
        height: 220px;
      }
      &__contact-navi_loading {
        .pc-navi__contact-text {
          font-size: 60px;
        }
      }
      &__contact-navi_top {
        .pc-navi__contact-text {
          font-size: 60px;
        }
      }
    }
  }
}
//-/ TABLET

//SP
@media (max-width: 767px){
  .pc-navi {
    display: none;
  }
  .sp-navi {
    display: block;
    img {
      max-width: initial;
    }
  }
  .container {
    min-width: initial;
    overflow: hidden;
    .sp-navi {
      &__ka_sp {
        position: fixed;
        z-index: 5;
        width: 164px;
        height: 88px;
        background: #9290F4;
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
        transition: all 1s;
        cursor: pointer;
        .sp-navi__ka-text {
          position: absolute;
          width: 164px;
          font-weight: 700;
          line-height: 1.5;
          text-align: center;
          color: #fbfbfb;
          transform: translate(-50%, -50%);
          transition: all 1s;
        }
      }
      &__ka-navi_loading {
        bottom: 50%;
        right: 50%;
        z-index: 5;
        border-radius: 50% 55% 61% 58%/80% 85% 72% 69%;
        transform: translate(50%,50%);
        .sp-navi__ka-text_sp {
          font-size: 24px;
          bottom: 10%;
          right: -50%;
        }
      }
      &__ka-navi_top {
        bottom: 3%;
        right: 17%;
        z-index: 3;
        border-radius:86% 19% 17% 28%/73% 10% 74% 47%;
        transform: translate(50%, 50%);
        .sp-navi__ka-text {
          font-size: 24px;
          bottom: 9%;
          right: -48%;
        }
      }
      &__about_pc {
        position: fixed;
        z-index: 4;
        width: 142px;
        height: 84px;
        background: #C1F0B1;
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
        transition: all 1s;
        cursor: pointer;
        .sp-navi__about-text {
          position: absolute;
          width: 142px;
          font-weight: 700;
          line-height: 1.5;
          text-align: center;
          color: #fbfbfb;
          transform: translate(-50%, -50%);
          transition: all 1s;
        }
      }
      &__about-navi_loading {
        top: 53%;
        left: 44%;
        z-index: 4;
        border-radius: 58% 55% 91% 58%/60% 65% 72% 79%;
        transform: translate(-50%,-50%);
        .sp-navi__about-text {
          font-size: 24px;
          top: 53%;
          left: 50%;
        }
      }
      &__about-navi_top {
        top: 30%;
        left: 32%;
        border-radius: 58% 55% 91% 58%/60% 65% 72% 79%;
        transform: translate(-50%, -50%);
        .sp-navi__about-text {
          font-size: 24px;
          top: 48%;
          left: 47%;
        }
      }
      &__about-navi_contents {
        top: 2%;
        left: 15%;
        z-index: 5;
        border-radius: 58% 55% 80% 58%/60% 65% 72% 79%;
        transform: translate(-50%, -50%);
        .sp-navi__about-text {
          font-size: 20px;
          top: 62%;
          left: 59%;
        }
      }
      &__works_pc {
        position: fixed;
        z-index: 3;
        width: 150px;
        height: 130px;
        background: #F4CC90;
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
        transition: all 1s;
        cursor: pointer;
        .sp-navi__works-text {
          position: absolute;
          width: 150px;
          font-weight: 700;
          line-height: 1.5;
          text-align: center;
          color: #fbfbfb;
          transform: translate(-50%, -50%);
          transition: all 1s;
        }
      }
      &__works-navi_loading {
        top: 47%;
        left: 49%;
        z-index: 3;
        border-radius: 57% 96% 71% 100%/86% 95% 87% 80%;
        transform: translate(-50%,-50%);
        .sp-navi__works-text {
          font-size: 24px;
          top: 48%;
          left: 50%;
        }
      }
      &__works-navi_top {
        top: 49%;
        left: 70%;
        border-radius: 57% 96% 71% 100%/86% 95% 87% 80%;
        transform: translate(-50%, -50%);
        .sp-navi__works-text {
          font-size: 24px;
          top: 49%;
          left: 51%;
        }
      }
      &__works-navi_contents {
        top: 1%;
        left: 49%;
        z-index: 4;
        border-radius: 57% 96% 71% 100%/86% 95% 87% 80%;
        transform: translate(-50%, -50%);
        .sp-navi__works-text {
          font-size: 20px;
          top: 67%;
          left: 55%;
        }
      }
      &__contact_pc {
        position: fixed;
        z-index: 2;
        width: 162px;
        height: 110px;
        background: #F49690;
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
        transition: all 1s;
        cursor: pointer;
        .sp-navi__contact-text {
          position: absolute;
          width: 162px;
          font-weight: 700;
          line-height: 1.5;
          text-align: center;
          color: #fbfbfb;
          transform: translate(-50%, -50%);
          transition: all 1s;
        }
      }
      &__contact-navi_loading {
        top: 52%;
        left: 54%;
        z-index: 2;
        border-radius: 48% 76% 51% 100%/77% 57% 80% 70%;
        transform: translate(-50%,-50%);
        .sp-navi__contact-text {
          font-size: 24px;
          top: 53%;
          left: 51%;
        }
      }
      &__contact-navi_top {
        top: 73%;
        left: 39%;
        border-radius: 48% 76% 51% 100%/77% 57% 80% 70%;
        transform: translate(-50%, -50%);
        .sp-navi__contact-text {
          font-size: 24px;
          top: 53%;
          left: 50%;
        }
      }
      &__contact-navi_contents {
        top: 2%;
        left: 85%;
        z-index: 3;
        border-radius: 48% 76% 51% 100%/77% 57% 80% 70%;
        transform: translate(-50%, -50%);
        .sp-navi__contact-text {
          font-size: 20px;
          top: 65%;
          left: 49%;
        }
      }
    }
  }
  .contents {
    &__flexbox {
      display: block;
      height: calc(100% - 92px);
      width: 100%;
      padding: 0 32px;
      overflow: auto;
      .contents__right-block,
      .contents__left-block {
        width: auto;
        height: auto;
        .contents__title {
          font-size: 24px;
          padding: 0;
          margin: 8px 0;
        }
        .contents__description {
          font-size: 16px;
        }
      }
    }
    &__works-section {
      .contents__flexbox {
        flex-direction: column;
        height: calc(100% - 92px);
        width: 80%;
        overflow: auto;
        .contents__link_work {
          width: 100%;
          height: auto;
          margin: 0 0 28px;
          &:last-child {
            margin: 0;
          }
        }
      }
    }
    &__link_mail {
      font-size: 24px;
      font-weight: 700;
      margin: 16px 0 0;
    }
  }
}
//-/ SP
